.d3-container {
  width: 100%;
  height: 100%;
}

.d3-sidenav {
  width: 350px;
  border-right: 1px solid #555;
}

.d3-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.d3-content-button {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 10;
}

.d3-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  z-index: 100;
  background-color: #000000b4;
}