.container {
    height: 100%;
    width: 100%;
    max-width: 850px;
    margin: auto;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;

    background-color: white;
    color: grey;
}