<div class="dashboard-container">
    @for (app of apps; track app) {
    @if (app.url != 'dashboard') {
    @if (app.active) {
    <mat-card appearance="outlined" style="width: 280px;">
        <mat-card-header>
            <mat-card-title style="color: white;">{{app.title}}</mat-card-title>
            <mat-card-subtitle>{{app.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="text-align: center; padding: 5px;">
            <mat-icon class="apps-icon">{{app.icon}}</mat-icon>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button class="apps-button" (click)="openApplication(app.url)">Open</button>
        </mat-card-actions>
    </mat-card>
    } @else {
    <mat-card appearance="outlined" style="width: 280px;" class="dashboard-card-disabled"
        matTooltip="Not available for this user">
        <mat-card-header>
            <mat-card-title style="color: white;">{{app.title}}</mat-card-title>
            <mat-card-subtitle>{{app.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="text-align: center; padding: 5px;">
            <mat-icon class="apps-icon">{{app.icon}}</mat-icon>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button class="apps-button" disabled>Open</button>
        </mat-card-actions>
    </mat-card>
    }
    }
    }
</div>