.dashboard-container {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    flex-wrap: wrap;
    gap: 2rem;
}

.apps-icon {
    font-size: 150px;
    color: white;
    height: 100%;
    width: 100%;
}

.apps-button {
    border-radius: 5px;
    background-color: #E0B732;
    color: var(--color-primary) !important;
}

.dashboard-card-disabled {
    opacity: 0.35;
    // pointer-events: none;
    /* Disables click events */
}

.dashboard-card-disabled:hover {
    cursor: not-allowed;
}