// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "@dhutaryan/ngx-mat-timepicker" as mat-timepicker;

html {
  color-scheme: dark;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));





}


$my-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$violet-palette,
      ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));


@include mat-timepicker.timepicker-theme($my-theme);



/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}