.toolbar {
    position: absolute;
    top: 0;
    height: 64px;
    width: 100%;
    // background-color: var(--color-primary);
    box-shadow: 0 1px 2px -1px white !important;
    z-index: 200 !important;
}

.toolbar-logo {
    height: 70%;
}

.toolbar-title {
    color: var(--color-accent);
    padding-left: 2rem;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.container-main {
    width: 100%;
    position: absolute;
    top: 64px;
    bottom: 40px;
    background-color: black;
    // background-image: url('../../../public/img/background-dark.jpg') !important;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    box-shadow: 0 -1px 2px -1px white !important;
    z-index: 200 !important;
}